@font-face {
    font-family: nb;
    src: url(./Fonts/NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rj;
    src: url(./Fonts/Rejouice-Headline.ttf);
}


*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: nb;
}

html, body{
    min-height: 100%;
    width: 100%;
    /* overflow: hidden; */
}

#curser{
    height: 7vw;
    width: 7vw;
    background-color: #ff5f38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

#curser h5{
    font-size: 1.5vw;
}

.page1{
    height: 100vh;
    width: 100%;
    background: #dadada;
    position: relative;
}

.page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.page1--content{
    min-height: 100vh;
    width: 100%;
    position: relative;
    /* background: #000000; */
    z-index: 12;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 2vw; */
}

.page1--content nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background: red; */
  padding: 1vw 4vh;
}


.page1--content nav h3{
    font-size: 2.4vw;
    font-weight: 100;
}

.page1--content nav h4{
    font-size: 2vw;
    /* font-weight: 100; */
}

.page1--content h1{
    font-family: rj;
    font-size: 27vw;
    line-height: 27vw;
    font-weight: 100;
}

.page1--content h1 span{
    font-family: rj;
}


.page2{
    height: 100vh;
    width: 100%;
    /* background-color: beige; */
    position: relative;
}

.first{
    /* margin: 2vh, 0; */
    height: 16vh;
    width: 96%;
    /* background-color: #ff5f38; */
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 1% 0vh;
    border-bottom: 1px solid black;
    margin: 4px 26px;
}


.hand{
    font-weight: 300;
    font-family: nb;
}

.second{
    /* background-color: beige; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -22vh 27vh;
}
    

.second h1{
    flex-wrap: wrap;
    color: rgb(107, 107, 107);
    font-family: nb;
    letter-spacing: .2em;
    line-height: 41px;
}
